* {
  color: white;
  background-color: #353535;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #9aa0a6ff;
}

body {
  max-width: 648px;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
}
